{% load static%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Smart Notes{% endblock %}</title>   
        {% comment %} <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/> {% endcomment %}
        <link rel="icon" type="image/png" href="{% static 'bootstrap-icons/card-list.svg' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% block navbar%}
        <nav class='navbar navbar-dark bg-dark'>
            <div class='ms-auto'>
                <a href="{% url 'home' %}" class="btn btn-outline-light me-1">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'notes.new' %}" class="btn btn-outline-light me-1">Create</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-light me-1">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-1">Login</a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-light me-1">Signup</a>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
        <main class="container my-5 text-center">
            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
        <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>        
    </body>
</html>